/* ################################################### */
/* CSS Style for Responsive Site */
* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: right;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {

    /* For tablets: */
    .col-s-1 {
        width: 75%;
    }
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .col-1 {
        width: 100%;
    }
}


/* ################################################### */
/* Header CSS Style */
header {
    padding: 15px;
}

h1 {
    text-align: center;
}

.owner-div {
    height: 8px;
    border-bottom: 1px solid black;
    text-align: center;
    margin-bottom: 50px;
}

.owner-div span {
    font-size: 15px;
    background-color: #fcf8f3;
    padding: 0 10px;
}

/* ################################################### */
/* Footer CSS Style */
footer {
    color: #959072;
    text-align: center;
    font-size: 12px;
    margin: 0;
    font-size: 0.9em;
}

.heart {
    color: #b63434;
    /* Animation */
    transform: rotate(-45deg) scale(1);
    animation: pulse 2s linear infinite;
}