/* ################################################### */
/* CSS Style for Responsive Site */
* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: right;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {

    /* For tablets: */
    .col-s-1 {
        width: 75%;
    }
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .col-1 {
        width: 100%;
    }
}

