/* ################################################### */
/* CSS Style for Responsive Site */
* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (max-width: 767px) {

    /* For mobiles & tablets: */
    .col-s-1 {
        width: 100%;
    }

    [class*="ex-col-"] a,
    .reg-form {
        font-size: 3vw;
    }

    .ex-col-1,
    .triangle-div {
        font-size: 2vw;
    }

    .calculator,
    .upload-container,
    .simple-form-container {
        width: 100%;
    }

    .results-table-div table {
        table-layout: fixed;
        width: 100%;
        font-size: 3vw;
    }

}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .col-1 {
        width: 100%;
    }

    body {
        margin: 0 150px;
    }

    .calculator {
        width: 50%;
    }

    .upload-container,
    .simple-form-container {
        width: 70%;
    }
}

/* ################################################### */
/* All Pages CSS Style */
html {
    background-color: #9c958e;
}

body,
button,
input,
textarea {
    font-family: 'Tajawal', sans-serif;
}

body {
    background-color: #fcf8f3;
    /* margin: 0 150px; */
    color: #625f5e;
}

.row {
    padding: 10px 30px;
}

hr {
    margin-bottom: 30px;
}

h2 {
    text-align: center;
}

input,
textarea,
select {
    border-radius: 5px;
    border-color: #f9eee5;
    border-width: 1px;
}

.container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}

.code {
    flex: 1 60%;
    background-color: white;
    /* background-color: #f7f0ee; */
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    overflow: auto;
    white-space: nowrap;
}


.asterisks {
    color: red;
}

.buttons-div {
    text-align: center;
}

.buttons-div button {
    border: 0;
    border-radius: 10px;
    font-weight: bold;
    font-size: 13pt;
    padding: 15px;
    width: 150px;
    color: rgb(250, 249, 246);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    margin: 5px;
}

.submit-btn {
    background: #4bae6fe5;
}

.reset-btn {
    background: #bd2f2f;
}

/* ################################################### */
/* Header CSS Style */
header {
    padding: 15px;
}

h1 {
    text-align: center;
}

header,
.owner-div span {
    background-color: #fffbfb;
}

.owner-div {
    height: 8px;
    border-bottom: 1px solid black;
    text-align: center;
    margin-bottom: 30px;
}

.owner-div span {
    font-size: 15px;
    padding: 0 10px;
}

/* ################################################### */
/* Footer CSS Style */
footer {
    color: #959072;
    text-align: center;
    font-size: 12px;
    margin: 0;
    font-size: 0.9em;
    padding-bottom: 8px;
}

.heart {
    color: #b63434;
}

/* ################################################### */
/* Index.php CSS Style */
.exercise_div {
    display: flex;
    flex-flow: row wrap;
    border-radius: 10px;
    margin: 15px 0;
    text-align: center;
    min-height: 70px;
}

[class*="ex-col-"] {
    display: table;
}

[class*="ex-col-"]>* {
    display: table-cell;
    vertical-align: middle;
    padding: 5px;
}

.ex-col-1 {
    flex: 1 20%;
    border-radius: 0 10px 10px 0;
    background-color: #7c7775;
}

.ex-col-2 {
    flex: 1 50%;
}

.ex-col-3 {
    flex: 1 15%;
}

.ex_no {
    color: #fcf8f3;
}

.ex_link {
    font-size: 14pt;
    color: #625f5e;
    text-decoration: none;
    background:
        linear-gradient(to bottom,
            #c7ceba,
            #979664),
        linear-gradient(to right,
            #c7ceba,
            #8c8a4f);
}

.ex_link:hover {
    background-size: 0 3px, 100% 3px;
    color: #fcf8f3;
}

.code_link {
    font-size: 14pt;
    color: #fcf8f3;
    text-decoration: none;
    border-radius: 10px 0 0 10px;
    background:
        linear-gradient(to bottom,
            #c3c0bb,
            #85827e),
        linear-gradient(to right,
            #dbdbdb,
            #cec6bd);
}

.code_link:hover {
    background-size: 0 3px, 100% 3px;
    color: #9d8f7e;
}

/* ################################################### */
/* registration_form.php CSS Style */
.reg-form {
    margin: 20px 0;
    padding: 4% 5%;
    background-color: rgb(250, 249, 246);
    border-radius: 30px;
}

.reg-h1 {
    margin-bottom: 50px;
}

.reg-h3 {
    border-bottom: 5px solid #77A1D3;
}

.reg-form label {
    display: block;
}

.reg-form input:not(input[type=radio]):not(input[type=range]),
.reg-form select {
    width: 100%;
    height: 30px;
}

.reg-form input[type=range] {
    width: 50%;
}

.reg-form div {
    margin: 15px;
}

.personal-info-div {
    display: flex;
    flex-flow: row wrap;
}

.personal-info-div div {
    flex: 1 40%;
}

.helath-det textarea {
    width: 100%;
}

/* ################################################### */
/* draw_triangles_page.php CSS Style */
.tri_high-div {
    margin-top: 50px;
    color: #2C3333;
    text-align: center;
}

.tri_high-div input {
    width: 50px;
    height: 30px;
    text-align: center;
}

.triangle-div {
    flex: 1 20%;
    font-family: 'Spline Sans Mono', monospace;
    background-color: #A5C9CA;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
}

/* ################################################### */
/* chess_board_page.php CSS Style */
.chess {
    flex: 1 37%;
    text-align: center;
    align-self: center;
    font-size: 0;
}

.chess_cell {
    display: inline-block;
    margin: 0;
    width: 35px;
    height: 35px;
    border: 1px solid black;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

/* ################################################### */
/* pyramid_multiplication_page.php CSS Style */
.max_num {
    text-align: right;
}

.max-num-input {
    width: 50px;
    height: 30px;
    text-align: center;

}

.multiply-table-div {
    overflow: auto;
    white-space: nowrap;
}

.multiply-table td:nth-child(even) {
    background-color: #ffaaa5;
}

.multiply-table td:nth-child(odd) {
    background-color: #ffd3b6;
}

.multiplication_cell {
    font-family: monospace, 'Courier New', Courier;
    display: inline-block;
    margin: 0;
    padding: 10px;
    font-size: 14px;
    text-align: center;

}

/* ################################################### */
/* bmi_ibw_calculator.php CSS Style */
.bmi-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
}

.form-div {
    margin: 10px;
    padding: 20px;
    background-color: #e1dad4;
    border-radius: 20px;
}

.form-div div {
    margin: 10px;
}

.form-div input:not(input[type=radio]) {
    width: 80%;
    height: 30px;
    text-align: center;
}

.smaller-btns-div button {
    font-size: 12pt;
    padding: 10px;
    margin: 10px;
    width: 120px;
}

.result-div {
    flex: 1;
    padding: 10px;
}

.result-div h3 {
    color: #625f5e;
    border-bottom: 5px solid #9c958e;
}

.result-div label {
    color: #b9806a;
}

/* ################################################### */
/* exams_results_page.php CSS Style */
.all-certificates-div {
    display: flex;
    flex-flow: row wrap;
    text-align: right;
    width: 100%;
    column-gap: 28px;
    row-gap: 28px;
}

.all-certificates-div p {
    margin: 5px 0 5px 0;
    font-weight: bold;
}

.certificate-div {
    flex: 1 1 289px;
    border: 1px solid gray;
    padding: 15px;
    border-radius: 5px;
    background-color: #fafafa;
    display: flex;
    flex-flow: row wrap;
}

.certificate-div span {
    color: #347474;
}

.name-div,
.track-div {
    flex: 1 50%;
}

.table-div,
.percentage-div,
.results-div {
    flex: 1 100%;
}

.percentage-div,
.results-div {
    margin: 0;
    padding: 0;
}

.table-div,
.results-table-div {
    margin: 20px;
    text-align: center;
    align-self: center;
}

.table-div th,
.results-table-div th {
    background-color: #385170;
    color: #ececec;
}

.table-div td:nth-child(1) {
    background-color: #ececec;
}

.table-div tr:last-child>td:first-child {
    background-color: #347474;
    color: #ececec;
}

.table-div td,
.results-table-div td {
    font-weight: bold;
    background-color: white;
}

.flex-container {
    display: flex;
    flex-flow: column wrap;
}

/* ################################################### */
/* simple_calculator_view.php CSS Style */
.calculator {
    margin: 20px auto;
    padding: 20px;
    background-color: #e8dddb;
    border-radius: 10px;
}

.no-div {
    margin: 20px;
    text-align: center;
}

.no-div input {
    width: 150px;
    height: 30px;
    text-align: center;
    font-family: 'Spline Sans Mono', monospace;
    color: #385170;
}

.operations {
    text-align: center;
}

.btn {
    border: none;
    background: #d1a7c2;
    background-image: linear-gradient(to bottom, #d1a7c2, #c295bd);
    border-radius: 28px;
    font-family: monospace, 'Courier New', Courier;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
}

.btn:hover {
    background: #e3b8d2;
    background-image: linear-gradient(to bottom, #e3b8d2, #d1afc4);
    text-decoration: none;
}

.result {
    text-align: center;
    margin: 20px;
}

.result-p {
    color: #447068;
}

/* ################################################### */
/* upload_file_page.php CSS Style */

.upload-container {
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    border: #cdcdcd solid 1px;
    padding-bottom: 0;
}

.error-msg {
    color: #b63434;
}

.success-msg {
    color: #347474;
}

.uploadedImg-div {
    width: 100%;
}

.uploadedImg-div img {
    max-width: 90%;
}

/* ################################################### */
/* reverse_text_page.php CSS Style */

.textarea-text-div {
    display: flex;
    flex-flow: column wrap;
}

.simple-form-container {
    background-color: #e3dfda;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    border: #cdcdcd solid 1px;
    padding-bottom: 0;
}

.txt-result {
    text-align: right;
    color: #347474;
}

.txt-result h3 {
    color: #1e2d2d;
    font-weight: bold;
}

/* ################################################### */
/* sort_array_page.php CSS Style */
.sort-array-container {
    text-align: center;
}

.sort-options .btn {
    width: 300px;
    font-family: 'Tajawal', sans-serif;
    background: #1c3c3f;
    background-image: linear-gradient(to bottom, #1c3c3f, rgb(97, 126, 133));

}

.sort-options .btn:hover {
    background: #a7cdd1;
    background-image: linear-gradient(to bottom, #a7d1c4, #95bac2);
}